.rounded-circle {  
    margin-top: 7%;
    max-width: 275px;
}

.display-1 {
    margin: 1%;
    font-size: 3vw;
}

.display-4{
    margin: 1%;
    font-size: 2.5vw;
}

.social-icon {
    margin-top: 10px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    font-size: 1.5em; 
    color: #4b2e83; 
}

.list-group {
    margin-top: 80px;
}

.flex-column{
    margin-left:8%;
    margin-right:8%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 84%;
}

#input {
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 3%;
}

.outer-bar {
    border: 2px solid #7947dd; 
    width: 60%;
    height: 30px;

}

.inner-bar{
    background-color: #7947dd; 
    width:50%; 
    height: 26px;
}

@media only screen and (max-width: 700px) {
    .rounded-circle {
        margin-top: 20%;
    }

    .display-1 {
        margin: 3%;
        font-size: 6vw;
    }

    .display-4{
        margin: 3%;
        font-size: 5vw;
    }

    .lead {
        margin: 30px;
        font-size: 4vw;
    }

    .flex-column {
        margin-top: 4%;
    }
}
