* {
    font-family: 'Courier New', monospace;
    cursor: cell;
}

*::selection {
    background: black;
    color: white;
}

.prof-card {
    position: fixed;
    top: 25%;
    left: 5px;
    width: 30%;
}

.content-container {
    position: fixed;
    right: 5px;
    bottom: 0;
    width: 75%;
    height: 100%;
    overflow-y: scroll;
}

.rounded-circle {  
    max-width: 259px;
    margin-bottom: 50px;
}

.social-icon {
    margin-top: 10px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    font-size: 1.5em; 
    color: #000000; 
}

.flex-column{
    margin-left:8%;
    margin-right:8%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 84%;
    border-radius: 7px;
    border: none;
    transition: margin-left 0.3s ease;
}

.flex-column:hover {
    margin-left: 6%; 
}

.content-header{
    margin-top: 30px;
    margin-left: calc(8% + 20px);
}

#input {
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 3%;
}

.outer-bar {
    border: 2px solid #7947dd; 
    width: 60%;
    height: 30px;

}

.inner-bar{
    background-color: #7947dd; 
    width:50%; 
    height: 26px;
}

a {
    text-decoration: underline;
    text-decoration-style: dashed;
    color: black;
}

@media only screen and (max-width: 700px) {
    .prof-card {
        position: static;
        top: auto;
        left: auto;
        width: auto;
    }
    
    .content-container {
        position: static;
        right: auto;
        width: auto;
    }

    .rounded-circle {
        margin-top: 20%;
        max-width: 275px;
    }

    .flex-column {
        margin-top: 4%;
    }
}
