.rounded-circle {  
    margin-top: 7%;
    max-width: 275px;
}

.display-1 {
    margin-top: 20px;
    margin-bottom: 10px; 
    font-size: 3.5vw; 
    color: #4b2e83;
}

.display-4 {
    margin: 20px;
    font-size: 30px;
}

.social-icon {
    margin-top: 10px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    font-size: 1.5em; /* Adjust this value to make the icons larger or smaller */
    color: #4b2e83; /* Replace this with the color that matches your website */
}

.list-group {
    margin-top: 80px;
}

.flex-column{
    margin-left:8%;
    margin-right:8%;
    margin-top: 10px;
    margin-bottom: 1%;
    width: 84%;
}

#input {
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 3%;
}

.outer-bar {
    border: 2px solid #7947dd; 
    width: 60%;
    height: 30px;

}

.inner-bar{
    background-color: #7947dd; 
    width:50%; 
    height: 26px;
}

@media only screen and (max-width: 700px) {
    .rounded-circle {
        margin-top: 20%;
    }

    .display-1 {
        font-size: 8vw;
        margin: 10px;
    }

    /* .display-4 {
        font-size: 6vw;
    } */

    .lead {
        margin: 30px;
        font-size: 4vw;
    }
}
